

/* #region Search */
.input-group-append .btn {
    border-radius: 0 0.25rem 0.25rem 0;
}
/* #endregion Search */


/* #region table */
table.table th, table.table td {
    padding: 0.5rem;
}

table.table tbody span {
    font-size: 0.8rem;
}
/* #endregion table */