@model IEnumerable<AutoDrawing.Models.DrawingDemo.Equipment>
@{
    ViewData["Title"] = "Equipment";
}


<!-- Create Modal -->
<div id="DivCreate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content bg-success">
            <div class="modal-header text-white">
                <h4 class="modal-title">Create</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body bg-white">
                <div class="form-horizontal">

                    @using (Html.BeginForm("Create", "Equipments", FormMethod.Post, new { id = "FormCreate" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Group : </label>
                                <div class="col">
                                    <input name="id" type="hidden" />
                                    <input name="group" type="text" class="form-control" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Name : </label>
                                <div class="col">
                                    <input name="name" type="text" class="form-control" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Formal Name : </label>
                                <div class="col">
                                    <input name="formalname" type="text" class="form-control" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Desc : </label>
                                <div class="col">
                                    <input name="desc" type="text" class="form-control" maxlength="50" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="modal-footer bg-white">
                <button id="BtnSubmitCreate" type="button" class="btn btn-outline-success">Create</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit Modal -->
<div id="DivEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <span>Edit</span>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">

                    @using (Html.BeginForm("Edit", "Equipments", FormMethod.Post, new { id = "FormEdit" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Group :</label>
                            <div class="col">
                                <input name="id" type="hidden" />
                                <input name="group" type="text" class="form-control" maxlength="50" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Name :</label>
                            <div class="col">
                                <input name="name" type="text" class="form-control" maxlength="50" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Formal Name :</label>
                            <div class="col">
                                <input name="formalname" type="text" class="form-control" maxlength="50" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Desc :</label>
                            <div class="col">
                                <input name="desc" type="text" class="form-control" maxlength="50" />
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="modal-footer">
                <button id="BtnSubmitEdit" type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div id="DivDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header text-white">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body bg-white">
                <span>Are you sure you want to delete this?</span>
            </div>

            <div class="modal-footer bg-white">
                <button id="BtnSubmitDelete" type="button" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>


<div id="EquipmentPage" class="container">

    <div class="card mb-3">
        <div class="card-body">

            <!-- Search -->
            <div class="input-group mb-2">
                <input id="SearchWord" name="filter" type="text" class="form-control" placeholder="Search for Equipment..." />

                <div class="input-group-append">
                    <button type="button" class="btn info-color text-white">
                        <span class="fas fa-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>


            <!-- List -->
            <table id="EquipmentTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Name</th>
                        <th>Formal Name</th>
                        <th>Desc</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>



@section styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/Equipment.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Equipment.min.css" />
    </environment>
}

@section scripts{
    <environment include="Development">
        <script src="~/js/Equipment.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/Equipment.min.js"></script>
    </environment>
}